<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hunt for <%= search %>
    </title>
    <style>
        body {
            --theme-background: #eff1f5;
            --theme-text: #4c4f69;
            --theme-crust: #dce0e8;

            --theme-border: #cba6f7;
            --theme-url: #40a02b;
        }

        @media (prefers-color-scheme: light) {
            body {
                --theme-background: #eff1f5;
                --theme-text: #4c4f69;
                --theme-crust: #dce0e8;

                --theme-border: #cba6f7;
                --theme-url: #40a02b;
                --theme-notice: #1e66f5;
            }
        }

        @media (prefers-color-scheme: dark) {
            body {
                --theme-background: #1e1e2e;
                --theme-text: #cdd6f4;
                --theme-crust: #11111b;

                --theme-url: #a6e3a1;
                --theme-notice: #89b4fa;
            }
        }


        body {
            font-family: Trebuchet MS, Verdana, Tahoma, Arial, Helvetica, sans-serif;
            background: var(--theme-background);
            color: var(--theme-text);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: Trebuchet MS, Verdana, Tahoma, Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        *:focus {
            outline: none;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .application {
            height: 100%;
        }

        .header,
        .footer {
            padding: 16px;
            width: 100%;
            text-align: center;
        }

        .main {
            padding: 16px;
            width: 100%;
        }

        .form-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .pg-search-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--theme-background);
            border: 2px solid var(--theme-text);
            border-radius: 64px;
        }

        .pg-search {
            box-sizing: border-box;
            position: relative;
            display: block;
            transform: scale(var(--ggs, 1));
            width: 16px;
            height: 16px;
            border: 2px solid var(--theme-background);
            border-radius: 100%;
            margin-left: -4px;
            margin-top: -4px
        }

        .pg-search::after {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            border-radius: 3px;
            width: 2px;
            height: 8px;
            background: var(--theme-background);
            transform: rotate(-45deg);
            top: 10px;
            left: 12px
        }

        .pg-search-button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 24px;
            border-radius: 64px;
            background: var(--theme-text);
            border: none;
            transition: .125s ease-in-out;
            cursor: pointer;
        }

        .pg-search-button:hover,
        .pg-search-button:focus {
            background: var(--theme-border);
            padding: 32px;
        }

        .pg-search-button-container {
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .pg-input-field-container input[type=text] {
            width: 0px;
            border: 0px;
            padding: 0;
            background: var(--theme-background);
            color: var(--theme-text);
            transition: 0.5s ease-in-out;
            font-size: medium;
        }

        .pg-input-field-container input[type=text]:focus {
            padding: 16px;
            width: 512px;
            margin-inline-start: 16px;
            transition: 1s;
        }

        .pg-search-container:hover>.pg-input-field-container input[type=text],
        .pg-input-field-container input[type=text]:valid {
            width: 512px;
            padding: 16px;
            transition: 1s;
            margin-inline-start: 16px;
        }

        .pg-description {
            padding-inline: 128px;
        }

        p {
            text-indent: 2em;
        }

        .feature-listing {
            border-inline-start: 8px solid #11111b;
            padding-inline: 16px;
            margin-inline-start: 32px;
        }

        /**************/
        .gg-chevron-double-down {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 22px;
            height: 22px;
            animation: animate-double-down 2s ease-in-out infinite;
        }

        @keyframes animate-double-down {
            0% {
                transform: translateY(-4px) scale(var(--ggs, 3));
            }

            50% {
                transform: translateY(4px) scale(var(--ggs, 3));
            }

            100% {
                transform: translateY(-4px) scale(var(--ggs, 3));
            }
        }

        @keyframes animate-double-down-effect {
            0% {
                border-color: var(--theme-text);
            }

            50% {
                border-color: var(--theme-background);
            }

            100% {
                border-color: var(--theme-text);
            }
        }

        .gg-chevron-double-down::after,
        .gg-chevron-double-down::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid;
            border-right: 2px solid;
            transform: rotate(45deg);
            left: 7px;
            top: 3px;
            animation: animate-double-down-effect 2s ease-in-out infinite;
        }

        .gg-chevron-double-down::after {
            top: 8px
        }

        .gg-menu {
            transform: scale(var(--ggs, 1))
        }

        .gg-menu,
        .gg-menu::after,
        .gg-menu::before {
            box-sizing: border-box;
            position: relative;
            display: block;
            width: 20px;
            height: 2px;
            border-radius: 3px;
            background: var(--theme-background)
        }

        .gg-menu::after,
        .gg-menu::before {
            content: "";
            position: absolute;
            top: -6px
        }

        .gg-menu::after {
            top: 6px
        }

        .animation-holder {
            margin-top: 32px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }

        .page {
            width: 100%;
            height: 100%;
            padding-inline: 16px;
            padding-block-start: 16px;
        }

        hr {
            border: 2px solid var(--theme-crust);
        }

        .navigation-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        .navigation-container .navigation-element {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 48px;
            width: 48px;
            border-radius: 32px;
            border: none;
            background-color: var(--theme-text);
            cursor: pointer;
        }

        .result-container {
            padding: 32px;
            padding-inline: 5vw;
        }

        .result-stats {
            margin-bottom: 16px;
        }

        .result {
            border: 1px solid var(--theme-border);
            border-radius: 32px;
            padding: 32px;
            margin-bottom: 16px;
        }

        .result .result-title,
        .result .result-url {
            display: block;
        }

        .result-title {
            font-size: x-large;
            text-decoration: none;
            color: var(--theme-text);
        }

        .result-url {
            font-size: small;
            color: var(--theme-url)
        }

        .notice {
            padding: 32px;
            border: 4px dashed var(--theme-border);
        }

        .notice>h2 {
            color: var(--theme-notice);
        }

        .gg-chevron-left {
            box-sizing: border-box;
            position: relative;
            display: block;
            transform: scale(var(--ggs, 1));
            width: 22px;
            height: 22px;
            border: 2px solid transparent;
            border-radius: 100px
        }

        .gg-chevron-left::after {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid var(--theme-background);
            border-left: 2px solid var(--theme-background);
            transform: rotate(45deg);
            left: 6px;
            top: 4px
        }

    </style>
</head>

<body>
    <div class="page">
        <div class="application">
            <div class="header">
                <div class="navigation-container">
                    <a class="navigation-element" href="/">
                        <span class="gg-chevron-left" style="display: block;"></span>
                    </a>
                    <button class="navigation-element">
                        <span class="gg-menu"></span>
                    </button>
                </div>
            </div>
            <div class="main">
                <h1 style="width: 100%; text-align: center">Page hunter</h1>
                <h2 style="width: 100%; text-align: center;">Hunt down pages like a professional hunter</h2>
                <form action="q" method="get" autocomplete="off">
                    <div class="form-container">
                        <div class="pg-search-container">
                            <div class="pg-input-field-container">
                                <input type="text" name="search" placeholder="Type Something..." required=""
                                    pattern=".*\S.*" value="<%= search %>">
                            </div>
                            <div class="pg-search-button-container">
                                <button type="submit" class="pg-search-button" aria-label="search"><span
                                        class="pg-search"></span></button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="result-container">
                    <div class="result-stats">About <%= result.length%> result(s) in
                            <%= (Date.now() - req_time) %>ms
                    </div>
                    <% for(var i=0; i < result.length; ++i) { %>
                        <div class="result">
                            <a class="result-title" href="<%= result[i].url %>">
                                <%= result[i].title%>
                            </a>
                            <a class="result-url" href="<%= result[i].url %>">
                                <%= result[i].url%>
                            </a>
                        </div>
                        <% } %>
                            <% if(result.length <=16) { %>
                                <div class="notice">
                                    <h2>Page hunter is constantly improving</h2>
                                    <p>
                                        Page hunter is a small search engine project developed as part of a academic
                                        course.
                                        Therefore, it is developed within the scope of application and as a result may
                                        not be a
                                        good, daily-driver search engine
                                    </p>
                                    <p>
                                        Page hunter is a simple search engine with a big goal and therefore it is
                                        constantly being
                                        maintained and undergoing changes for better exprience.
                                    </p>
                                </div>
                                <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
